#Websocket
WEBSOCK_BROKER_ADDRESS=test.mosquitto.org
WEBSOCKET_BASEPATH=/mqtt
WEBSOCK_PORT=8081
WEBSOCK_USE_SSL=true
USE_CREDS=
USER=
PASS=
TOKEN=
USER_NAME=User
PINS=D1,D2,D3,D4
QOS=0
CLEAN_SESSION=true
RETAINED=true

#UI Customization
SWITCH_NAME=Light,Speaker,Fan,Lamp
WALL_URL=

#Server
DEBUG=false
PORT=5000
HOST=127.0.0.1
SECRET_KEY=your_secret_key