<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MST Automations</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/user.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-image: url('{{ config.WALL_URL or "static/img/wall.jpg" }}');">
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="Logo" class="logo">
            </div>
            <h1 class="glass-text">MST Automations</h1>
        </header>
        <main>
            <div class="container2">
                <div id="time" class="time glass-text"></div>
                <div id="message" class="message glass-text"></div>
            </div>
            <div class="switch-container">
                <div class="switch-wrapper">
                    <label for="switch1" class="switch-label glass-text">{{config['SWITCH_NAME'][0]}}</label>
                    <label class="switch">
                        <input id="switch1" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="switch-wrapper">
                    <label for="switch2" class="switch-label glass-text">{{config['SWITCH_NAME'][1]}}</label>
                    <label class="switch">
                        <input id="switch2" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="switch-wrapper">
                    <label for="switch3" class="switch-label glass-text">{{config['SWITCH_NAME'][2]}}</label>
                    <label class="switch">
                        <input id="switch3" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="switch-wrapper">
                    <label for="switch4" class="switch-label glass-text">{{config['SWITCH_NAME'][3]}}</label>
                    <label class="switch">
                        <input id="switch4" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </main>
        <form action="{{ url_for('logout') }}" method="get" style="text-align: right;">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
    <div class="loader"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <script>
        const config = {{ config|tojson }};
    </script>
    <script src="static/script.js"></script>
</body>
</html>